*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.imgBox{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgBox img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.imgBox .imgSlice{
    position: absolute;
    top:calc(var(--pery)*10% - 10%);
    left: calc(var(--perx)*10% - 10%);
    height: 100%;
    width: 10%;
    background: rgba(255,255,255,0);
    animation: animate 1.5s linear;
    animation-delay: calc((var(--perx ) + var(--pery) )*0.2s);
}
@keyframes animate{
    0%,100%{
        background: rgba(255,255,255,0);
    }
    25%,75%{
        background: rgba(255,255,255,1);
    }
}